<div class="container d-flex justify-content-center">
  <div class="col-12 col-lg-6 mt-5 p-4" style="background-color:white; text-align:center;">
    <h1 style="color:#22eaca;"><%= @restaurant.name %></h1>
      <p><%= @restaurant.category %></p>
      <p><%= @restaurant.address%></p>
      </br>

    <% @reviews.each do |review| %>
      <%= review.content %>
      <%= review.rating %>/5
      <% end %>
      </br>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-outline-secondary"%>

   <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit "add a review", class: "btn btn-primary" %>
    <% end %>

<%= link_to "Back to list", restaurants_path, class: "btn btn-outline-secondary" %>
</div>
